.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.upper-map {
  width: 60%;
  height: 250px; /* Altura reducida a la mitad */
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px; /* Espacio entre los mapas */
}

.lower-map {
  width: 60%;
  height: 250px; /* Altura reducida a la mitad */
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.zoom-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
}

.zoom-controls button {
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
  margin: 2px 0;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.zoom-controls button:hover {
  background-color: #f0f0f0;
}

.map-container {
  margin-bottom: 40px; /* Añade un margen inferior mayor para separar los mapas */
  border-radius: 10px; /* Agrega bordes curvos */
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra */
}

.map-container > div {
  margin: -10px; /* Compensa el borde con un margen negativo */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
